mixin integration-item(name, url)
  option(value='#{url}') #{name}

select(id="integrationDrop" selected="Select Integration Guide").margin-top-less.radius
  +integration-item("Select Integration Guide","#")
  +integration-item("---","#")
  //- +integration-item("3DCart","3dcart")
  //- +integration-item("Adyen","/integrations/adyen")
  //- +integration-item("Bitmonet","")
  //- +integration-item("Blesta","")
  //- +integration-item("Coin Vox","")
  +integration-item("commerce:SEO","/integrations/commerce-seo")
  //- +integration-item("Cydec","")
  //- +integration-item("DC POS","")
  //- +integration-item("Demandware","/integrations/demandware")
  +integration-item("Drupal Commerce","/integrations/drupal-commerce")
  //- +integration-item("E-Gov Link","")
  //- +integration-item("Ecwid","")
  //- +integration-item("Foxycart","")
  //- +integration-item("Gravity Forms","")
  //- +integration-item("Host Bill","")
  +integration-item("Ingenico","/integrations/ingenico")
  //- +integration-item("Intuit PayByCoin","")
  //- +integration-item("Lemonstand","")
  //- +integration-item("MPA3","")
  +integration-item("Magento","/integrations/magento")
  //- +integration-item("Membership Pro","")
  //- +integration-item("NATs","")
  //- +integration-item("NCR Silver","")
  //- +integration-item("NGPVan","")
  //- +integration-item("NationBuilder","")
  //- +integration-item("NetSuite","")
  //- +integration-item("New West Technologies","")
  +integration-item("OScommerce","/integrations/oscommerce")
  +integration-item("OpenCart","/integrations/opencart")
  //- +integration-item("PayPal","")
  //- +integration-item("Paydici","")
  +integration-item("PrestaShop","/integrations/prestashop")
  //- +integration-item("ProsperCart","")
  +integration-item("Shopify","/integrations/shopify")
  //- +integration-item("Soft Touch","")
  //- +integration-item("Spree Commerce","")
  //- +integration-item("Targeted Victory","")
  //- +integration-item("Ubercart","")
  +integration-item("Virtue Mart","/integrations/virtuemart")
  //- +integration-item("VisualTouch","")
  //- +integration-item("WHMCS","")
  +integration-item("WP eCommerce","/integrations/wordpress")
  +integration-item("WooCommerce","/integrations/woocommerce")
  +integration-item("Wordpress","/integrations/wordpress")
  +integration-item("Xcart","/integrations/xcart")
  +integration-item("ZenCart","/integrations/zen-cart")

