mixin integration-item(name, url)
  option(value='#{url}') #{name}

select(onChange="window.location.href=this.value")
  //- +integration-item("3DCart","")
  +integration-item("Adyen","/integrations/adyen")
  //- +integration-item("Bitmonet","")
  //- +integration-item("Blesta","")
  //- +integration-item("Coin Vox","")
  //- +integration-item("commerce:SEO","")
  //- +integration-item("Cydec","")
  //- +integration-item("DC POS","")
  //- +integration-item("Demandware","/integrations/demandware")
  //- +integration-item("Drupal Commerce","")
  //- +integration-item("E-Gov Link","")
  //- +integration-item("Ecwid","")
  //- +integration-item("Foxycart","")
  //- +integration-item("Gravity Forms","")
  //- +integration-item("Host Bill","")
  //- +integration-item("Intuit PayByCoin","")
  //- +integration-item("Lemonstand","")
  //- +integration-item("MPA3","")
  +integration-item("Magento","/integrations/magento")
  //- +integration-item("Membership Pro","")
  //- +integration-item("NATs","")
  //- +integration-item("NCR Silver","")
  //- +integration-item("NGPVan","")
  //- +integration-item("NationBuilder","")
  //- +integration-item("NetSuite","")
  //- +integration-item("New West Technologies","")
  //- +integration-item("OScommerce","")
  //- +integration-item("OpenCart","")
  //- +integration-item("PayPal","")
  //- +integration-item("Paydici","")
  //- +integration-item("PrestaShop","")
  //- +integration-item("ProsperCart","")
  //- +integration-item("Shopify","")
  //- +integration-item("Soft Touch","")
  //- +integration-item("Spree Commerce","")
  //- +integration-item("Targeted Victory","")
  //- +integration-item("Ubercart","")
  //- +integration-item("Virtue Mart","")
  //- +integration-item("VisualTouch","")
  //- +integration-item("WHMCS","")
  //- +integration-item("WP eCommerce","")
  //- +integration-item("WooCommerce","")
  //- +integration-item("Xcart","")
  //- +integration-item("ZenCart","")
