block pagevars
  -var title = "Adyen";
  -var description = "With BitPay's adyen integration you can easily accept bitcoin payments";
  -var category = "Integrated Solutions";
  -var website = "https://www.adyen.com/home";
  -var imageURL = "/images/integrations/adyen.png"
  
extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Integration
    p.lead #{description}
    
  h2 Setup Guide
  p Quick tagline that sells the integration. We should promote all of them but also be fair in our assumptions. 
  
  h2 Documentation
  p Once you’ve created a free BitPay account - you can come here to read the personalized guide on how to install each integration. Just pick your platform below and follow the step by step guides.
