block pagevars
  -var title = "Commerce-SEO";
  -var description = "Accept bitcoin on your commerce:SEO site with a BitPay's open source plugin.";
  -var category = "E-commerce Plugin";
  -var website = "";
  -var imageURL = "/images/integrations/commerceseo.png"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked commerce-seo.md
