block pagevars
  -var title = "Drupal-Commerce Plugin";
  -var description = "Accept bitcoin on your e-commerce site with BitPay's open source plugin for Drupal Commerce.";
  -var category = "E-commerce Plugin";
  -var website = "";
  -var imageURL = "/images/integrations/drupal.png"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked commerce-seo.md
