append vars
  -var pageSelected = 'Docs'

block pagevars
  -var title = "Drupal-Commerce";
  -var description = "Accept bitcoin on your e-commerce site with BitPay's open source plugin for Drupal Commerce.";
  -var category = "E-commerce Plugin";
  -var website = "https://drupalcommerce.org/download";
  -var imageURL = "/images/integrations/drupal.png"
  -var downloadURL = "https://github.com/bitpay/commerce-seo-plugin"
  -var cta = "Download Plugin"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked drupal-commerce.md
