block pagevars
  -var title = "Magento";
  -var description = "Accept bitcoin on your Magento-based e-commerce site with BitPay's open source Magento Plugin.";
  -var category = "E-commerce Plugin";
  -var website = "http://www.magentocommerce.com/magento-connect/bitpay-bitcoin-payment-method.html";
  -var imageURL = "/images/integrations/magento.png"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  h3 Integration Requirements
  p Get started by #[a.arrow-blue(href="/dashboard/signup") signing up for a BitPay merchant account]
  
  h3 Installing the Plugin
  p Remember to back up your database before installing extensions.
  ol
    li Go to the #[a(href="http://www.magentocommerce.com/magento-connect/bitpay-payment-method.html") Magento Connect Manager] and click the #[strong "Install Now"] link which will give you the #[strong Extension Key] needed for the next step.
    li Once you have the key, log into your Magento Store's Admin Panel and navigate to #[strong "System" &gt; "Magento Connect" &gt; "Magento Connect Manager"].
      p The Connect Manager may ask you to log in again using the same credentials that you use to log into the Admin Panel. All you need to do is paste the extension key and click on the #[em "Install"] button.
  
  h3 Connecting BitPay and Magento
  
  h3 Advanced Setup
