append vars
  -var pageSelected = 'Docs'

block pagevars
  -var title = "Magento";
  -var description = "Accept bitcoin on your Magento-based e-commerce site with BitPay's open source Magento Plugin.";
  -var category = "E-commerce Plugin";
  -var website = "http://magento.com/";
  -var imageURL = "/images/integrations/magento.png"
  -var downloadURL = "http://www.magentocommerce.com/magento-connect/bitpay-bitcoin-payment-method.html"
  -var cta = "Get Integration"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked magento.md
