block pagevars
  -var title = "OpenCart Plugin";
  -var description = "Accept bitcoin on your OpenCart site with BitPay's open source plugin.";
  -var category = "E-commerce Integration";
  -var website = "";
  -var imageURL = "/images/integrations/opencart.png"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked opencart.md
