append vars
  -var pageSelected = 'Docs'

block pagevars
  -var title = "osCommerce Plugin";
  -var description = "Accept bitcoin on your website with BitPay's open source plugin for osCommerce.";
  -var category = "E-commerce Integration";
  -var website = "http://www.oscommerce.com/";
  -var imageURL = "/images/integrations/oscommerce.png"
  -var downloadURL = "https://github.com/bitpay/oscommerce-plugin/releases"
  -var cta = "Download Plugin"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked oscommerce.md
