block pagevars
  -var title = "PrestaShop Plugin";
  -var description = "Accept bitcoin on your PrestaShop site with BitPay's open source plugin.";
  -var category = "E-commerce Plugin";
  -var website = "";
  -var imageURL = "/images/integrations/prestashop.png"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked prestashop.md
