append vars
  -var pageSelected = 'Docs'

block pagevars
  -var title = "VirtueMart Plugin";
  -var description = "Accept bitcoin on your Joomla site with BitPay's open source plugin for VirtueMart.";
  -var category = "E-commerce Plugin";
  -var website = "http://virtuemart.net/download";
  -var imageURL = "/images/integrations/virtuemart.png"
  -var downloadURL = "https://github.com/bitpay/virtuemart-plugin/releases"
  -var cta = "Download Plugin"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked virtuemart.md
