block pagevars
  -var title = "VirtueMart Plugin";
  -var description = "Accept bitcoin on your Joomla site with BitPay's open source plugin for VirtueMart.";
  -var category = "E-commerce Plugin";
  -var website = "";
  -var imageURL = "/images/integrations/virtuemart.png"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked virtuemart.md
