block pagevars
  -var title = "Woocommerce Plugin";
  -var description = "Accept bitcoin on your WordPress site with BitPay's open source plugin for Woocommerce.";
  -var category = "E-commerce Plugin";
  -var website = "";
  -var imageURL = "/images/integrations/woocommerce.png"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked woocommerce.md
