block pagevars
  -var title = "WordPress eCommerce Plugin";
  -var description = "Accept bitcoin on your WordPress site with BitPay's open source extension to the WP eCommerce Plugin.";
  -var category = "E-commerce Plugin";
  -var website = "";
  -var imageURL = "/images/integrations/wpecommerce.png"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked wordpress.md
