append vars
  -var pageSelected = 'Docs'

block pagevars
  -var title = "X-Cart Gold Plugin";
  -var description = "Accept bitcoin on your website with BitPay's open source plugin.";
  -var category = "E-commerce Plugin";
  -var website = "http://www.x-cart.com/";
  -var imageURL = "/images/integrations/xcart.png"
  -var downloadURL = "https://github.com/bitpay/xcartgold-plugin/releases"
  -var cta = "Download Plugin"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked xcart.md
