block pagevars
  -var title = "WordPress eCommerce Plugin";
  -var description = "Accept bitcoin in your Zen Cart shopping cart with BitPay's open source plugin.";
  -var category = "E-commerce Plugin";
  -var website = "";
  -var imageURL = "/images/integrations/zencart.png"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked zen-cart.md
