append vars
  -var pageSelected = 'Docs'

block pagevars
  -var title = "WordPress eCommerce Plugin";
  -var description = "Accept bitcoin in your Zen Cart shopping cart with BitPay's open source plugin.";
  -var category = "E-commerce Plugin";
  -var website = "https://www.zen-cart.com/";
  -var imageURL = "/images/integrations/zencart.png"
  -var downloadURL = "https://github.com/bitpay/zencart-plugin/releases"
  -var cta = "Download Plugin"

extends ../_layouts/integration-docs

append integration-guide
  h1 #{title} Plugin
    p.lead #{description}
    
  include:marked zen-cart.md
