// Font colors

.blue {

  &-light{
    $hue: $blue-light;
    color: $hue;
    &-bg{
      background: $hue;
    }
  }

  &-pale{
    $hue: $blue-pale;
    color: $hue;
    &-bg{
      background: $hue;
    }
  }

  &-medium{
    $hue: $blue-medium;
    color: $hue;
    &-bg{
      background: $hue;
    }
  }
  &-dark{
    $hue: $blue-dark;
    color: $hue;
    &-bg{
      background: $hue;
    }
  }

}


.orange{
  $hue:$orange;
  color: $hue;
  &-bg{
    background: $hue;
  }
  &-dark-bg{
    background: $hue;
  }
}
.gray-dark {
  color: $gray-dark;
}

.gray-darker {
  color: $gray-darker;
}

.white {
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  &:hover {
    color: #FFFFFF;
  }
}

.white-opacity {
  @extend .white;
  opacity: 0.7;
}

.white-link--opacity {
  @extend .white;
  opacity: 0.7;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}

::selection {
  background: #EBEBFF;
}
::-moz-selection {
  background: #EBEBFF;
}
