// Whenever possible, avoid adding to this file.
// Styles should be abstracted from here into re-usable utilities.

.background-element {
  position: absolute;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
}

.home-logo {
  display: inline-block;
  margin: 0.25rem 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}

.feature-diagram-container {
  width: 20em;
  margin: auto;
}

html {
  min-height: 100%;
  height: inherit;
}

body {
  background: #0E1C40;
}

.container {
  background-color: #ffffff;
}

.section {
  @extend .padding-vertical;
  @extend .large-padding-vertical-most;
}

ul {
  line-height: 1.8;
}

.side-nav a {
  display: inline-block !important;
  border-radius: 1em;
  transition: all 0.2s;
  position: relative;
  left: 0;
  &.active {
    color: white !important;
    background: $blue-light !important;
    left: .5em;
  }
}

#instantclick-bar {
  background: $blue-light;
}

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
  padding: 1.5rem 1.5rem 1.5rem 3.5rem;
  width: 100%;
  border: 1px solid $gray-medium;
  border-radius: 100px;
  background-color: rgba(255,255,255,0.5);
  box-sizing: border-box;
  transition: all 0.2s;
  &:focus,
  &:active {
    outline: none;
    border-color: $blue-light;
    box-shadow: 0 0 6px lighten($blue-light, 20%);
    background-color: rgba(255,255,255,1);
  }
}


::-webkit-input-placeholder {
   color: $gray-light;
}

:-moz-placeholder { /* Firefox 18- */
   color: $gray-light;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $gray-light;
}

:-ms-input-placeholder {
   color: $gray-light;
}

.note,
.warning {
  padding: 0.5rem 1rem;
  margin: 3rem 0 1rem;
  border: 1px solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  font-weight: 600;
  & > p:last-of-type {
    margin-bottom: 0;
  }
  &:before {
    position: absolute;
    top: -26px;
    left: -1px;
    right: -1px;
    padding: 0 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.note {
  border-color: $gray-light;
  &:before {
    content: "NOTE";
    background: $gray-xlight;
    border: 1px solid $gray-light;
  }
}

.warning {
  border-color: #F2BA71;
  color: #E78300;
  &:before {
    content: "WARNING";
    background: #FFEFDF;
    border: 1px solid #F2BA71;
  }
}
.brand-guide{
  .side-nav{
    background:none;
    &.fixed{
      @extend .brand-bg;
    }
  }
  .medium-white-fade-top{
    box-shadow: 0 -107px 300px 300px #fff;
    position: relative;
    z-index: 51;
  }
  .cta{
    position: relative;
    z-index: 51;
    bottom:-1px;
  }
  .table{
    padding: 20px 0;
    .row{
      margin:0;
    }
  }
}
.brand-content{
  border-left:1px solid $gray-light;
  z-index: 52;
  hr {
    margin: 40px 0;
  }
  h5{
    margin-top:20px;
  }
  .download{
      height:50px;
      width:50px;
      background-repeat: no-repeat;
      position: absolute;
      right: 33px;
      margin-top: -23px;
      display: none;

  }

  .color-profile{
    @extend .radius;
    //width:23%;
    //margin:0 2% 0 0;
    //padding-right:0;
    margin-left:3%;
    width:45%;
    h5{
      color:#ffffff;
      margin-top:30px;
    }
    ul{
      margin-top:80px;
      margin-left:0;
      list-style-type: none;
      li{
        width:100%;
        display: block;
        color:rgba(255,255,255,0.5);

      }
    }

  }
  .image{
    &:hover{
      background:$bitpay-blue;
      img{
        opacity: 0.2;
      }
      .download{
        display: block;
      }
    }

  }
  .inline-list{
    padding: 8px 0;
    background-color: #FAFAFB;
    border: 1px solid #DEDFE1;
    border-top:0;

  }
  .capitalization{
    border: 1px solid $gray-light;
  }
}
