// Whenever possible, avoid adding to this file.
// Styles should be abstracted from here into re-usable utilities.


.background-element {
  position: absolute;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
}

.home-logo {
  display: inline-block;
  margin: .25rem 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}

.integration-logo {
  height: 2em;
  width: 2em;
  display: block;
  margin: auto;
  background-color: $gray-xlight;
  border: 1px solid $gray-light;
  background-size: 60%;
  border-radius: 100px;
  transition: all .2s ease;

  :hover,
  :focus {
    transform: scale(1.1);
  }
}

.feature-diagram-container {
  width: 20em;
  margin: auto;
}

html {
  min-height: 100%;
  height: inherit;
}

body {
  background: #0e1c40;
}

.container {
  background-color: #fff;
}

.section {
  @extend .padding-vertical;
  @extend .large-padding-vertical-most;
}

ul {
  line-height: 1.8;
}

.side-nav a {
  display: inline-block !important;
  border-radius: 1em;
  transition: all .2s;
  position: relative;
  left: 0;

  &.active {
    color: white !important;
    background: $blue-light !important;
    left: .5em;
  }
}

#instantclick-bar {
  background: $blue-light;
}

input[type='search'] {
  appearance: none;
  padding: 1.5rem 1.5rem 1.5rem 3.5rem;
  width: 100%;
  border: 1px solid $gray-medium;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, .5);
  box-sizing: border-box;
  transition: all .2s;

  &:focus,
  &:active {
    outline: none;
    border-color: $blue-light;
    box-shadow: 0 0 6px lighten($blue-light, 20%);
    background-color: rgba(255, 255, 255, 1);
  }
}


::placeholder {
  color: $gray-light;
}

select {
  border-radius: 3px;
}

.note,
.warning {
  padding: .5rem 1rem;
  margin: 3rem 0 1rem;
  border: 1px solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  font-weight: 600;

  & > p:last-of-type {
    margin-bottom: 0;
  }

  &:before {
    position: absolute;
    top: -26px;
    left: -1px;
    right: -1px;
    padding: 0 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.note {
  border-color: $gray-light;

  &:before {
    content: 'NOTE';
    background: $gray-xlight;
    border: 1px solid $gray-light;
  }
}

.warning {
  border-color: #f2ba71;
  color: #e78300;

  &:before {
    content: 'WARNING';
    background: #ffefdf;
    border: 1px solid #f2ba71;
  }
}

.integration-guide-body {
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }

  h2 {
    @extend.header--bottom-border-left;

  }

  img {
    box-shadow: 0 2px 7px 0 rgba(143, 143, 143, .5);
    margin: 2em 0;
  }

  iframe {
    margin: 2em 0;
  }

  .lead {
    @extend .margin-bottom;
  }
}

.enterprise-card {
  max-width: 440px;
  margin: 1.875rem;
  margin-left: auto;
  margin-right: auto;
  @media #{$small-up} {
    text-align: center;
  }
}

.promotion-banner {
  padding: .75em 0;
  @media #{$small-only} {
    display: none;
  }
}

.new-label {
  @extend .white;
  font-size: 1em;
  display: inline-block;
  background: #3bc36b;
  background-image: linear-gradient(-180deg, #58e49a 0%, #3bc36b 100%);
  padding: 0 10px 1px;
  border-radius: 15px;
  position: relative;
  top: -2px;
  margin-right: 10px;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .16);
}

.bitgive-card {
  @extend .bg-white;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .19);
  margin: 0 auto;
  max-width: 500px;
  padding: 1em;

  // at small
  @media #{$small-only} {
    margin-left: 15px;
    margin-right: 15px;
  }

  input {
    box-shadow: none;
  }



}


.bitgive-avatar {
  height: 50px;

  &:before {
    @extend .bg-white;
    background-image: url('/images/integrations/bitgive.png');
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    position: relative;
    top: -65px;
    left: calc(50% - 3.25rem);
    border-radius: 100px;
    height: 100px;
    width: 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16);
    display: block;
  }
}
