//sass-lint can't process this block
@mixin addBorder($name, $value, $breakpoint) {
  @each $side in 'top', 'right', 'bottom', 'left' {
    .#{$breakpoint}border-#{$side}-#{$name} {
      border-#{$side}: #{$value};
    }
  }
  .#{$breakpoint}border-vertical-#{$name} {
    border-top: #{$value};
    border-bottom: #{$value};
  }
  .#{$breakpoint}border-horizontal-#{$name} {
    border-left: #{$value};
    border-right: #{$value};
  }
  .#{$breakpoint}border-#{$name} {
    border: #{$value};
  }
}

// breakpoint classes
// .breakpoint-class[-suffix]

$breakpoints: (
  'small-only': $small-only,
  'small': $small-up,
  'medium-only': $medium-only,
  'medium': $medium-up,
  'large-only': $large-only,
  'large': $large-up,
  'xlarge-only': $xlarge-only,
  'xlarge': $xlarge-up,
  'xxlarge-only': $xxlarge-only,
  'xxlarge': $xxlarge-up,
);

$suffixes: (
  '-none': 0,
  '-less': 1em,
  ''     : 2em,
  '-more': 3em,
  '-most': 6em
);

@mixin breakpointedUtils($breakpoint){
  @each $suffix, $val in $suffixes {
    @each $property in 'padding', 'margin' {
      @each $side in 'top', 'right', 'bottom', 'left' {
        .#{$breakpoint}#{$property}-#{$side}#{$suffix}{
          #{$property}-#{$side}: #{$val};
        }
      }
      .#{$breakpoint}#{$property}-vertical#{$suffix}{
        #{$property}-top: #{$val};
        #{$property}-bottom: #{$val};
      }
      .#{$breakpoint}#{$property}-horizontal#{$suffix}{
        #{$property}-left: #{$val};
        #{$property}-right: #{$val};
      }
      .#{$breakpoint}#{$property}#{$suffix}{
        #{$property}: #{$val};
      }
    }
  }
  .#{$breakpoint}float-left{
    float: left !important;
  }
  .#{$breakpoint}float-right{
    float: right !important;
  }

  @include addBorder('gray', (1px solid $gray-light), $breakpoint);
  @include addBorder('light', (1px solid rgba(255,255,255,0.1)), $breakpoint);
}

@include breakpointedUtils(null);
@each $breakpoint, $settings in $breakpoints {
  @media #{$settings} {
     @include breakpointedUtils($breakpoint + '-');
  }
}

@mixin pulse-every($every, $id) {
  .pulse-#{$id} {
    @extend %pulse;
    animation-name: pulsate-#{$id};
    animation-duration: $every+#{ms};
  }

  $ringAnimLength: 1400/$every;
  @keyframes pulsate-#{$id} {
    #{100% - ($ringAnimLength * 100)} { transform: scale(0.1,0.1); opacity: 0.0}
    #{100% - ($ringAnimLength * 50)} { opacity: 1.0}
    100% { transform: scale(1.4,1.4); opacity: 0.0}
  }
}

@include pulse-every(2000, '1');
@include pulse-every(3000, '2');
@include pulse-every(5000, '3');
@include pulse-every(7000, '4');

.white {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.event-title-two {
  margin-top:6.8em;
  @media #{$small-only} {margin-top: 4em;}
}

.event-title-three {
  margin-top:10.5em;
  @media #{$small-only} {margin-top: 1.5em;}
}

.event-title-four {
  margin-top:10.7em;
  @media #{$small-only} {margin-top: 5.5em;}
}

.event-title-five {
  margin-top:10em;
  @media #{$small-only} {margin-top: 6.5em;}
}

.event-title-six {
  margin-top:12em;
  @media #{$small-only} {margin-top: 7.5em;}
}

.first-item {&:after {top: 4%;}}
.second-item {&:before {top: 19%;}}
.third-item {&:after {top: 44%;}}
.fourth-item {&:before {top: 53.5%;}}
.fifth-item {&:after {top: 88.5%;}}
.sixth-item {&:before {top: 90%;}}


@media #{$small-only} {
  .first-item {&:after {top: 2.7%;}}
  .second-item {&:before {top: 18%;}}
  .third-item {&:after {top: 41.5%;}}
  .fourth-item {&:before {top: 50%;}}
  .fifth-item {&:after {top: 82.5%;}}
  .sixth-item {&:before {top: 83.75%;}}
}


// End Timeline

.search-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 40px;
  top: 10px;
}

.small-icon {
  height: 0.95em;
  display: inline-block;
  position: relative;
  top: 2px;
  width: 2em;
}

.feature-container {
  position: relative;
  margin: 4rem auto;
  width: 20rem;
  @media #{$large-up} {
    width: 37.5rem;
    margin: auto;
  }
}

.feature-image {
  height: 6em;
  @media #{$large-up} {
    height: 10em;
  }
}

.feature-icon {
  position: absolute;
  &.feature-1 {
    top: -26%;
    right: 39%;
  }
  &.feature-2 {
    top:15%;
    right:-20%;
  }
  &.feature-3 {
    top:75%;
    right:-7%;
  }
  &.feature-4 {
    bottom: -27%;
    right: 43.5%;
  }
  &.feature-5 {
    top:75%;
    left:-15%;
  }
  &.feature-6 {
    top:15%;
    left:-10%;
  }

  @media #{$small-only} {
    & > .feature-label {
      display: none;
    }
    &.feature-1 {
      top: -18%;
      right: 44.5%;
    }
    &.feature-2 {
      top:14%;
      right:17%;
    }
    &.feature-3 {
      top:71%;
      right:16%;
    }
    &.feature-4 {
      bottom: -20%;
      right: 44.5%;
    }
    &.feature-5 {
      top:71%;
      left:16%;
    }
    &.feature-6 {
      top:14%;
      left:17%;
    }
  }
  @media #{$large-up} {
    & > .feature-label {
      display: inline-block;
    }
    &.feature-1 {
      top: -15%;
      right: 44%;
    }
    &.feature-2 {
      top:20%;
      right:2%;
    }
    &.feature-3 {
      top:74%;
      right:9%;
    }
    &.feature-4 {
      bottom: -17%;
      right: 46.1%;
    }
    &.feature-5 {
      top:75%;
      left:4%;
    }
    &.feature-6 {
      top:20%;
      left:7%;
    }
  }
}

.quote-anim {
  animation: pop 0.5s;
  &:before {
    content: "";
    display: inline-block;
    background-image: url('../images/quote.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
}

.ghost {
  animation: ghost-move 16s both cubic-bezier(0.420, 0.000, 0.580, 1.000) 2s alternate infinite;
}

.ghost-shadow {
  animation: shadow-move 16s both cubic-bezier(0.420, 0.000, 0.580, 1.000) 2s alternate infinite;
}

.project-box {
  border: solid 1px #EDEDED;
  border-radius: 9px;
  transition: border 0.3s;
  &:hover {
    border: solid 1px #ADAFC3;
  }
}

.brand-content > .row{
    margin:0;
}

// Brand Guide
.brand-guide{
  .side-nav{
    background:none;
    &.fixed{
      @extend .bg-gray-halfpage-gradient;
    }
  }
  .medium-white-fade-top{
    box-shadow: 0 -107px 300px 300px #fff;
    position: relative;
    z-index: 51;
  }
  .cta{
    position: relative;
    z-index: 51;
    bottom:-1px;
  }
  .table{
    padding: 20px 0;
    .row{
      margin:0;
    }
  }
}
.brand-content{
  border-left:1px solid $gray-light;
  z-index: 52;
  hr {
    margin: 40px 0;
  }
  h5{
    margin-top:20px;
  }
  .download{
      height:50px;
      width:50px;
      background-repeat: no-repeat;
      position: absolute;
      right: 33px;
      margin-top: -23px;
      display: none;

  }

  .color-profile{
    @extend .radius;
    margin-left:3%;
    width:45%;
    h5{
      color:#ffffff;
      margin-top:30px;
    }
    ul{
      margin-top:80px;
      margin-left:0;
      list-style-type: none;
      li{
        width:100%;
        display: block;
        color:rgba(255,255,255,0.5);

      }
    }

  }
  .image{
    &:hover{
      background:$bitpay-blue;
      img{
        opacity: 0.2;
      }
      .download{
        display: block;
      }
    }

  }
  .inline-list{
    padding: 8px 0;
    background-color: #FAFAFB;
    border: 1px solid #DEDFE1;
    border-top:0;

  }
  .capitalization{
    border: 1px solid $gray-light;
  }
}
  .pricing{
    max-width: 58.75rem;
      @media #{$large-up}{
        width:95%;
        display:block;
        margin:0 auto;
      }
  }
  .pricing-column {
    text-align: center;
    @media #{$xlarge-up}{
      border-left:1px solid #DEDFE1;
      text-align: left;

    }
  }
  .btn.orange-bg{
    &:hover{
      background: rgba($orange, 0.85);
    }
  }
  .pricing-features{
    position:relative;
    text-align:center;
    @media #{$large-up}{
      left:-58px;
      background: $white;
      text-align:left;
    }

    .row > .column{
      padding:9% 0;
      margin: 30px 0;

      @media #{$large-up}{
        padding:0;
        margin:0;

      }
      @media #{$large-up}{
        &:first-child{
          padding: 8% 0 0 11%;
          background: $white;

        }
        &:last-child{
          top: 41px;
          right: -65px;
          padding: 11% 20% 12% 19%;
        }
      }
    }

  }

// magellan output is broken by sass 2
[data-magellan-expedition], [data-magellan-expedition-clone] {
  background: #fff;
  min-width: 100%;
  padding: 10px;
  z-index: 50;
}

[data-magellan-expedition] .sub-nav, [data-magellan-expedition-clone] .sub-nav {
  margin-bottom: 0;
}

[data-magellan-expedition] .sub-nav dd, [data-magellan-expedition-clone] .sub-nav dd {
  margin-bottom: 0;
}

[data-magellan-expedition] .sub-nav a, [data-magellan-expedition-clone] .sub-nav a {
  line-height: 1.8em;
}
