@include element-to-class('h1');
@include element-to-class('h2');
@include element-to-class('h3');
@include element-to-class('h4');
@include element-to-class('h5');
@include element-to-class('h6');
@include element-to-class('small');

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 100;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: .5px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.text-shadow {
  text-shadow: 1px 2px 0 rgba(0, 0, 0, .5);
}

.text-shadow-less {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .15);
}

.arrow:after,
.arrow-blue:after {
  content: '';
  display: inline-block;
  height: 11px;
  width: 6px;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: -4px;
  position: relative;
  top: -1px;
}

.arrow:after {
  background: url('/images/arrow.svg');
}

.arrow-blue:after {
  background: url('/images/arrow-blue.svg');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .white & {
    color: #fff;
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

p {
  &.lead {
    @media #{$small-only} {
      font-size: 1.11875rem;
    }
  }
}

.mono {
  font-family: $font-family-monospace;
  font-size: 90%;
}

.line-height-more {
  line-height: 2em;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.superscript-first-letter:first-letter {
  font-size: 35%;
  vertical-align: super;
}

.large-flow-2-columns {
  @media #{$large-up} {
    columns: auto 2;
  }
}

.small-smaller-text {
  @media #{$small-only} {
    font-size: 80%;
  }
}

.quote {
  font-style: italic;
}

pre,
code {
  font-family: 'Menlo', 'Consolas', 'Monaco', 'Courier', monospace;
  font-size: 85%;
  border-radius: 3px;
}

pre {
  color: $gray-xlight;
  background: $gray-darker;
  border: 1px solid $gray-darkest;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .2);
  padding: .5rem 1rem;
}

code {
  background: darken($gray-xlight, 2%);
  padding: .125rem .3125rem;
  border: 1px solid darken($gray-xlight, 4%);
}

.list-style-none li {
  list-style-type: none;
}



.side-nav li {
  font-weight: 700;
  margin-bottom: .15rem;

  &.divider {
    height: 1em;
  }
}
