extends ../_layouts/primary

block title
  title Brand Guide | BitPay

block content
  .row.margin-bottom-less
    .column.medium-6
      h1.small-only-text-center Bitcoin Resources 
    
      
  .border-vertical-gray.brand-guide.bg-gray-halfpage-gradient
      
    .row
      .large-2.columns.padding-vertical-more(style="padding: 3em 0 0 9px;")
        .sidebar
          ul.side-nav(role="navigation" data-magellan-expedition="fixed" data-options="offset_by_height: false;" style="background:#FAFAFB;" )
            li
              a(href="#top" data-magellan-arrival="top") Bitcoin Brand
            li
              a(href="#logo-variations" data-magellan-arrival="logo-variations") Logo Variations
            li
              a(href="#icons" data-magellan-arrival="icons") Icons 
            li
              a(href="#colors" data-magellan-arrival="colors") Colors
            li
              a(href="#capitalization"  data-magellan-arrival="capitalization") Capitalization
            li
              a(href="#badges"  data-magellan-arrival="badges") Badges
      
      .large-10.columns.bg-white.padding-vertical-more.brand-content(style="margin:0; border-left:1px solid #DEDFE1; padding: 3em; z-index: 52;")
        .row.margin-bottom
          .column.large-12
            .row
              .column.medium-4
                h3.header--bottom-border-left(data-magellan-destination="top" id="top") Bitcoin Brand
              .column.medium-8.text-center
                a(style="border:none;" href="/bitpay-press-kit05072015.zip" download).white.btn.orange-bg.uppercase.bold.large-float-right Download Brand Kit
              
            .row
              .column.medium-12
                .bg-gray.border-gray.radius.text-center.padding-vertical-less
                   
                  img(src="https://github.com/vanhue/bitcoin-brand/blob/master/bitcoin-logo-dark.png?raw=true" alt="BitPay Primary Logo" style="width: 60%; padding:10% 0;")
                  .download(style="background-image: url('/images/icons/download.svg');")
                br
            .row
              .column.medium-12 
                h3.header--bottom-border-left What is Bitcoin?
                p.lead Bitcoin is an innovative, digital currency and payment system that makes transacting online faster, easier, and safer.
                p Bitcoin protects consumers from identity theft, makes international banking more efficient and accessible, reduces transaction costs, and eliminates the risk of payment fraud.
                p For more information, please visit bitcoin.org.
            hr(style="margin: 40px 0;")
          .column.large-12(data-magellan-destination="logo-variations" id="logo-variations") 
            h3.header--bottom-border-left Logo Variations
            .row.columns
              .column.large-6.padding-left-none
                .image.radius.text-center.padding-vertical-less.border-gray.bg-gray
                  a(href="/images/bitpay-logo-primary.png" download="bitpay-logo-primary")
                    img(src="https://github.com/vanhue/bitcoin-brand/blob/master/bitcoin-logo-dark.png?raw=true" alt="BitPay Secondary Logo" style="width: 80%; padding:27px 0")
                    .download(style="background-image: url('/images/icons/download-dark.svg');")
                h5(style="margin-top:20px;") Bitcoin Logo Light
                p Is our primary logo and used most often on a blue background.
                
              .column.large-6.padding-left-none
                .image.radius.text-center.padding-vertical-less.border-gray(style="background:#464644;")
                  a(href="/images/bitpay-logo-inverse.png" download="bitpay-logo-inverse")
                    img(src="https://github.com/vanhue/bitcoin-brand/blob/master/bitcoin-logo-light.png?raw=true" alt="BitPay Secondary Logo" style="width: 80%; padding:27px 0")
                    .download(style="background-image: url('/images/icons/download.svg');")
                h5(style="margin-top:20px;")  Bitcoin Logo Dark
                p Is our primary color and used most often
              hr(style="margin: 50px 0;")      
          .column.large-12(data-magellan-destination="logo-variations" id="logo-variations") 
            h3.header--bottom-border-left(data-magellan-destination="icons" id="icons") Icons
            .row.columns
              .column.large-4.padding-left-none
                .image.radius.text-center.padding-vertical-less.border-gray.bg-gray
                  a(href="/images/bitpay-logo-primary.png" download="bitpay-logo-primary")
                    img(src="https://github.com/vanhue/bitcoin-brand/blob/master/bitcoin.png?raw=true" alt="BitPay Secondary Logo" style="width: 60%; padding:10px 0")
                    .download(style="background-image: url('/images/icons/download-dark.svg');")
                p(style="margin-top:10px;") Bitcoin 
              .column.large-4.padding-left-none
                .image.radius.text-center.padding-vertical-less.border-gray.bg-gray
                  a(href="/images/bitpay-logo-primary.png" download="bitpay-logo-primary")
                    img(src="https://github.com/vanhue/bitcoin-brand/blob/master/bitcoin-b-dark.png?raw=true" alt="BitPay Secondary Logo" style="width: 41%; padding:10px 0")
                    .download(style="background-image: url('/images/icons/download-dark.svg');")
                p(style="margin-top:10px;") Bitcoin Icon Dark
              .column.large-4.padding-left-none
                .image.radius.text-center.padding-vertical-less.border-gray.bg-gray(style="background-color:#000;")
                  a(href="/images/bitpay-logo-primary.png" download="bitpay-logo-primary")
                    img(src="https://github.com/vanhue/bitcoin-brand/blob/master/bitcoin-b-light.png?raw=true" alt="BitPay Secondary Logo" style="width: 41%; padding:10px 0")
                    .download(style="background-image: url('/images/icons/download-dark.svg');")
                p(style="margin-top:10px;") Bitcoin Icon Light
            
            
            
    
              
            .row
            hr(style="margin: 40px 0;") 
          .column.large-12(data-magellan-destination="colors" id="colors")
            h3.header--bottom-border-left(data-magellan-destination="colors" id="color") Bitcoin Colors
            .row
              .column.color-profile.large-6(style="background-color:#F4A61B;")
                h4(style='color:#ffffff;margin-top:30px;') BitPay Gold
                
                  ul
                    li #F4A61B
                    li RGB: 248, 174, 42
                    li CMYK: 0,32,89,4
                    
              .column.color-profile.left(style="background-color:#464644;")
                h4(style='color:#ffffff;margin-top:30px;')  Bicoin Grey
              
                  ul
                    li #464644
                    li RGB: 235, 235, 255
                    li CMYK: 1,32,85,0
            hr(style="margin: 40px 0;")
                  
          .column.large-12.left(data-magellan-destination="capitalization" id="capitalization")
            h3.header--bottom-border-left Capitalization
            .table.large-10.radius.capitalization(style="border:1px solid #DEDFE1; padding: 20px 0;")
              .row(style="margin:0;")
                .column.large-5.medium-12.border-right-gray
                  p.uppercase.bold Correct
                
                  p.checkmark Bitcoin
                    i
                      small  (the system)
                  p.checkmark bitcoin 
                    i
                      small  (currency units)
                  p
                    pre bitcoin 
                      i (code)
                .column.large-7.medium-12
                  p.uppercase.bold Incorrect
                  .small-12
                    p.incorrect.margin-bottom-less(style="width:50%;float:left") BitCoin
                    p.incorrect.margin-bottom-less(style="width:50%;float:left") Bit-coin
                    p.incorrect.margin-bottom-less(style="width:50%;float:left") Bit coin
                    p.incorrect.margin-bottom-less(style="width:50%;float:left") bitCoin        
                    
            .row(style="margin:0;")
              .medium-10
                br
                p.lead BitPay is written with the “B” and “P” capitalized to distinguish BitPay (our company) from bitcoin (the currency).
                
            hr(style="margin: 40px 0;")      
        .row.columns(data-magellan-destination="badges" id="badges")
          h3.header--bottom-border-left Badges
          .column.large-3.padding-left-none
            .image.radius.text-center.padding-vertical-less.border-gray.bg-gray
              a(href="/images/bitpay-logo-primary.png" download="bitpay-logo-primary")
                img(src="https://github.com/bitpay/bitcoin-brand/blob/master/bitcoin-logo-dark.png?raw=true" alt="BitPay Secondary Logo" style="width: 80%; padding:28px 0")
                .download(style="background-image: url('/images/icons/download-dark.svg');")
                
            p(style="margin-top:10px;") Bitcoin Badge Light
          .column.large-3.padding-left-none
            .image.radius.text-center.padding-vertical-less.border-gray
              a(href="/images/bitpay-logo-primary.png" download="bitpay-logo-primary")
                img(src="https://github.com/bitpay/bitcoin-brand/blob/master/bitcoin.png?raw=true" alt="BitPay Secondary Logo" style="width: 50%; padding:0px 0")
                .download(style="background-image: url('/images/icons/download-dark.svg');")
            p(style="margin-top:10px;") Bitcoin Card
             
          .column.large-3.padding-left-none
            .image.radius.text-center.padding-vertical-less.border-gray(style="overflow:hidden; height:120px; background-color:#ED9E1F;")
              a(href="/images/bitpay-logo-primary.png" download="bitpay-logo-primary")
                img(src="https://github.com/vanhue/bitcoin-brand/blob/master/bitcoin.png?raw=true" alt="BitPay Secondary Logo" style="width: 80%; position:relative; top: -22px; padding:0px 0")
                .download(style="background-image: url('/images/icons/download.svg');  margin-top: -70px;")    
            p(style="margin-top:10px;") Bitcoin Card Dark
            
          .column.large-3.padding-left-none
            .image.radius.text-center.padding-vertical-less.border-gray(style="background-color:#464644;")
              a(href="/images/bitpay-logo-primary.png" download="bitpay-logo-primary")
                img(src="https://github.com/bitpay/bitcoin-brand/blob/master/bitcoin-logo-light.png?raw=true" alt="BitPay Secondary Logo" style="width: 80%; padding:27px 0")
                .download(style="background-image: url('/images/icons/download.svg');")
            p(style="margin-top:10px;") Bitcoin Badge Dark
        .row.columns  
          .column.large-2.padding-left-none
            .image.radius.text-center.padding-vertical-less(style="")
              a(href="/images/bitpay-logo-primary.png" download="bitpay-logo-primary")
                img(src="https://github.com/vanhue/bitcoin-brand/blob/master/bitcoin-acccepted-light.png?raw=true" alt="BitPay Secondary Logo" style="width: 100%; padding:0px 0")
                .download(style="background-image: url('/images/icons/download-dark.svg');margin-top: -28px; margin-right: -10px;")
            
            
          .column.large-2.padding-left-none.end
            .image.radius.text-center.padding-vertical-less(style="")
              a(href="/images/bitpay-logo-primary.png" download="bitpay-logo-primary")
                img(src="https://github.com/vanhue/bitcoin-brand/blob/master/bitcoin-acccepted-dark.png?raw=true" alt="BitPay Secondary Logo" style="width: 100%; padding:0px 0")
                .download(style="background-image: url('/images/icons/download-dark.svg'); margin-top: -28px; margin-right: -10px;")
        hr(style="margin: 40px 0;")     
            
    .medium-white-fade-top(style="box-shadow:  0px -155px 106px 223px #fff; position: relative; z-index: 51;")
    .section.bg-lightblue-gradient.border-top-gray.clear.cta(style="position: relative; z-index: 51; bottom:-1px;")
      .row
        .column.medium-8.medium-offset-2
          h2.text-center.white Need more? We're happy to help.
        
      .row
        .column.medium-8.medium-offset-2.text-center
          a(href="/bitpay-press-kit05072015.zip" download).white.btn.btn-margin.btn-blue-solid.uppercase.bold Download Bitcoin Brand Kit
          a(href="mailto:media@bitpay.com").white.btn.btn-blue-border.btn-margin.uppercase.bold Email Us
        
