@keyframes ghost-move {
  0%,
  31%,
  100% { transform: translateY(0);}
  13% { transform: translateY(-10px);}
  60% { transform: translateY(-7px)}
  85% { transform: translateY(8px);}
}

@keyframes shadow-move {
  0%,
  31%,
  100% { transform: scale(1);}
  13% { transform: scale(.8);}
  60% { transform: scale(.9)}
  85% { transform: scale(1.4);}
}
