%pulse {
  border: 2px solid #2f4ab5;
  border-radius: 30px;
  height: 10px;
  width: 10px;
  position: absolute;
  opacity: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  @media #{$medium-up} {
    height: 18px;
    width: 18px;
  }
}

.pulse-center {
  height: 2px;
  width: 2px;
  border-radius: 10px;
  background: #00bccc;
  position: absolute;
  left: 2px;
  top: 2px;
  @media #{$medium-up} {
    height: 4px;
    width: 4px;
    left: 5px;
    top: 5px;
  }
}
