extends _layouts/docs

block title
  title How to Pay with Bitcoin | BitPay Documentation

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'How to Pay with Bitcoin'
  
block information
  h1.header--bottom-border-left How to Pay with Bitcoin
  p.lead Bitcoin is secure money for the internet. You can pay without handing out sensitive financial information, and you don't need an account.
  
  h3.blue-medium Get a wallet
    .tutorial-number 1
  p First you'll need a #[em bitcoin wallet] &ndash; an app that lets you receive, hold, and spend bitcoin. To learn more, check out our #[a(href="/docs/wallets") Bitcoin Wallet Comparison], where we keep an updated list of options.
  
  p #[a(href="http://copay.io/") Copay Bitcoin Wallet], an open-source project from BitPay, is a great option because it supports major advances in bitcoin security and ease of use.
  
  h3.blue-medium Buy some bitcoin
    .tutorial-number 2
  p Once you've set up your wallet, you'll need to buy some bitcoin. 
  
  p Bitcoin exchanges are available all over the world, allowing users to convert any currency into and out of bitcoin. Every country and region is different, so you'll want to do some research before choosing an exchange. 
  
  p For individuals in the United States, Copay provides a simple integration with #[a(href="https://www.glidera.io/") Glidera], allowing users to buy bitcoin directly from the app.
  
  h3.blue-medium Make a payment
    .tutorial-number 3
  p Making a bitcoin payment is fast, convenient, and extremely secure. 
    
  p To make a payment, you won't need to enter any sensitive card information. Instead, you'll simply send the payment from your wallet app using one of three methods:

  p
    img.large-padding-horizontal(src="/images/docs/invoice.png")
  
  hr
  
  .row
    .column.xlarge-6
      h5.blue-medium Scan the QR Code
        .tutorial-number 1
      p If your wallet is on a different mobile device, you can scan this code to open the payment in your wallet. Confirm everything is correct, and your wallet will make the payment.
      
    .column.xlarge-6
      h5.blue-medium Open in Wallet
        .tutorial-number 2
      p If your wallet is on the device you're using to view the invoice, you can open the payment in your wallet by tapping here. Confirm everything is correct, and your wallet will make the payment.
  .row
    .column
      h5.blue-medium Send the Payment Manually
        .tutorial-number 3
      p If you're using an older wallet, or a wallet which doesn't support the other methods, you can also send the payment manually. Carefully copy the exact address and amount from the invoice to your wallet, and send the payment manually.
  
  hr
  
  h3 Refunds &amp; Troubleshooting
  p BitPay provides tools and reporting for merchants to manage their own refunds in bitcoin. If you would like a refund, please contact the merchant directly, and they can initiate the process from their BitPay dashboard. Merchant refund policies differ, so please contact the merchant to discuss refund options.

  h3 Getting Help
  p BitPay is a payment processing platform built to help merchants accept bitcoin. While it's often fastest to contact the merchant directly with inquries related to your purchase, you can find more information at the #[a(href="https://help.bitpay.com/") BitPay Help Center], where it is also possible to contact our support team. 
