extends _layouts/primary

block title
  title Pricing | BitPay
  
append vars  
  -var pageSelected = 'Pricing'

block content
  .section.pricing.bg-gray.border-bottom-gray.border-top-gray
    .row.fade-in
      .column.text-center.margin-bottom
        h2.text-center Join the world’s most trusted Bitcoin payment platform. 
        p.lead.text-center Simply priced plans for businesses and enterprises.
    .row.margin-top-less
      
      
      .column.medium-8.medium-offset-2.large-4.large-offset-0.bg-white.border-gray.text-center.margin-bottom.fade-in-right.delay-2(style="position:relative;right:-1px;")
        .icon.h2.background-contain.margin-less(style="background-image: url('/images/basic_icon.svg'); height: 2.5em;")
        h3.text-center.light Starter
        p.text-center Free
        .row
          div.border-top-gray(style="height:85px")
            div(style="padding-top:1em")
              | 30 Transactions / Month
              br
              small 1% Service Fee For Each Additional Transaction
          div.border-top-gray(style="height:105px")
            div.padding-vertical-less.bold Login Access
            div Single User
          div.border-top-gray(style="height:330px")
            div.padding-vertical-less.margin-none.bold Core Features
            ul.list-style-none
              li Guaranteed Conversion Rate
              li Customer Support Portal
              li Email Billing
              li Hosted Checkout
              li API Access
              li CSV Ledger Download
              li All Open Source Plugins
              li All Open Source Libraries
              li Mobile Checkout App
          div.border-top-gray(style="height:245px")
            div.padding-vertical-less.margin-none.bold Settlement Options
            ul.list-style-none
              li.bold Weekly settlement via:
              li ACH to USA Banks
              li SEPA to Euro Banks
              li.bold Daily settlement via:
              li Bitcoin
          div.border-top-gray(style="height:245px")
            div.padding-vertical-less.margin-none.bold Customer Support
            div Email Support
          
          
      .column.medium-8.medium-offset-2.large-4.large-offset-0.bg-white.border-gray.text-center.margin-bottom.fade-in-right.delay-4
        .icon.h2.background-contain.margin-less(style="background-image: url('/images/business_icon.svg'); height: 2.5em;")
        h3.light Business
        p.text-center 1% Service Fee
        .row
          div(style="height:85px")
            .border-top-gray.margin-none.bold(style="padding-top:1.8em;") Unlimited Transactions
          .border-top-gray(style="height:105px")
            .padding-vertical-less.margin-none.bold Login Access
            div Multi-User Organization
          .border-top-gray(style="height:330px")
            .padding-vertical-less.margin-none.bold Core Features
            ul.list-style-none
              li Guaranteed Conversion Rate
              li Customer Support Portal
              li Email Billing
              li Hosted Checkout
              li API Access
              li CSV Ledger Download
              li All Open Source Plugins
              li All Open Source Libraries
              li Mobile Checkout App
          .border-top-gray(style="height:245px")
            .padding-vertical-less.margin-none.bold Settlement Options
            ul.list-style-none
              li.bold Daily settlement via:
              li ACH to USA Banks
              li SEPA to Euro Banks
              li Bitcoin
              li EFT to Canada Banks
              li SPEI to Mexico Banks
          .border-top-gray(style="height:245px")
            .padding-vertical-less.margin-none.bold Customer Support
            div Email Support
          .border-top-gray(style="height:135px")
            .padding-vertical-less.margin-none.bold Premium Integrations
            ul.list-style-none
              li Demandware Cartridge
              li Quickbooks IIF Download
          .border-top-gray(style="height:245px")
            .padding-vertical-less.margin-none.bold Premium Settlement Options
            ul.list-style-none
              li.bold Bank transfer to:
              li the United Kingdom
              li Brazil
              li South Africa
              li Australia
              li New Zealand
             
      .column.medium-8.medium-offset-2.large-4.large-offset-0.bg-white.border-gray.text-center.end.fade-in-right.delay-6(style="position:relative;left:-1px;")
        .icon.h2.background-contain.margin-less(style="background-image: url('/images/enterprise_icon.svg'); height: 2.5em;")
        h3.light Enterprise
        p.text-center 
          a(href="mailto:sales@bitpay.com") Request Info
          
        .row
          div(style="height:85px")
            .border-top-gray.padding-vertical-less.margin-none.bold(style="padding-top:1.8em;") Unlimited Transactions
          .border-top-gray(style="height:105px")
            .padding-vertical-less.margin-none.bold Login Access
            div Multi-User Organization
          .border-top-gray(style="height:330px")
            .padding-vertical-less.margin-none.bold Core Features
            ul.list-style-none
              li Guaranteed Conversion Rate
              li Customer Support Portal
              li Email Billing
              li Hosted Checkout
              li API Access
              li CSV Ledger Download
              li All Open Source Plugins
              li All Open Source Libraries
              li Mobile Checkout App
          .border-top-gray(style="height:245px")
            .padding-vertical-less.margin-none.bold Settlement Options
            ul.list-style-none
              li.bold Daily settlement via:
              li ACH to USA Banks
              li SEPA to Euro Banks
              li Bitcoin
              li EFT to Canada Banks
              li SPEI to Mexico Banks
          .border-top-gray(style="height:245px")
            .padding-vertical-less.margin-none.bold Customer Support
            ul.list-style-none
              li Priority Email Support
              li Priority Phone Support
              li Integration Assistance
              li Account Manager
              li Optional Weekend Phone Support
              li Optional 24/7 Phone Support
          .border-top-gray(style="height:135px")
            .padding-vertical-less.margin-none.bold Premium Integrations
            ul.list-style-none
              li Demandware Cartridge
              li Quickbooks IIF Download
          .border-top-gray(style="height:245px")
            .padding-vertical-less.margin-none.bold Premium Settlement Options
            ul.padding-top-less.list-style-none
              li &nbsp;
              li Bank transfers available
              li to all permissible countries
            
  .section
    .row
      .column.medium-10.medium-offset-1.large-5.large-offset-1
        .margin-bottom
          h5 Guaranteed Instant Conversion Rate
          p Buyers will always get a better value by spending their bitcoins at a BitPay merchant than by selling them on an exchange. We pool the order books of active bitcoin exchanges, and find the best bid worldwide. We call this the Bitcoin Best Bid (BBB) rate. BitPay guarantees the bitcoin-to-fiat <a href="https://bitpay.com/bitcoin-exchange-rates">exchange rate</a> at the point of sale, so our merchants are protected from bitcoin price fluctuations.
        div
          h5 Get Paid In Bitcoin
          p Many of our merchants choose to take a percentage of their BitPay settlement in bitcoin, or even 100%. You can choose your settlement preferences from your account dashboard. We settle bitcoin to your bitcoin address daily.
          
      .column.medium-10.medium-offset-1.large-5.large-offset-0.end
        .margin-bottom
          h5 Simple Pricing for all Plans
          p Our Starter plan offers free, instant conversions for up to 30 transactions a month, weekly settlements in two currencies, and daily settlements  in bitcoin. The Business Plan offers daily settlements in nine currencies and unlimited monthly transactions for a 1% settlement fee.
        div
          h5 Can you process payments for regulated industries?
          p We are able to process payments for most businesses, but sometimes legal and regulatory concerns prevent us from servicing some industries. We'd like to provide all legal businesses the opportunity to accept bitcoin, and we are constantly working to make that a possibility.
      .column.medium-10.medium-offset-1.large-5.large-offset-1
      .column.medium-10.medium-offset-1.large-5.large-offset-0.end

  .section.bg-lightblue-gradient.border-top-gray
    .row
      .column.large-10.large-offset-1.text-center
          h3.white Get access to the BitPay platform.
          .margin-top-less
            a(href="/dashboard/signup").white.btn.btn-blue-solid.uppercase.bold.btn-margin.arrow Accept Bitcoin
