extends _layouts/primary

block title
  title Pricing | BitPay
  
append vars  
  -var pageSelected = 'Pricing'

block content
  .section.pricing.bg-gray.border-bottom-gray.border-top-gray
    .row.fade-in
      .column.text-center.margin-bottom
        h2.text-center Join the world’s most trusted Bitcoin payment platform. 
        p.lead.text-center Simply priced plans for businesses and enterprises.
    .row.margin-top-less
      .column.medium-8.medium-offset-2.large-4.large-offset-0.bg-white.border-gray.text-center.margin-bottom.fade-in-right.delay-2
        .icon.h2.background-contain.margin-less(style="background-image: url('/images/basic_icon.svg'); height: 2.5em;")
        h3.text-center.light Starter
        p.text-center 30 Free Transactions/Month
        
        .row
          p.border-top-gray.padding-vertical-less.margin-none 
            | 1% settlement fee for additional transactions
          p.border-top-gray.padding-vertical-less.margin-none.bold Login Access
          p Single User
          p.border-top-gray.padding-vertical-less.margin-none.bold Core Features
          ul.list-style-none
            li Guaranteed Conversion Rate
            li Customer Support Portal
            li Email Billing
            li Hosted Checkout
            li API Access
            li CSV Ledger Download
            li All Open Source Plugins
            li All Open Source Libraries
            li Mobile Checkout App
            
          p.border-top-gray.padding-vertical-less.margin-none.bold Customer Support
          p Email Support
          p.border-top-gray.padding-vertical-less.margin-none.bold Settlement Options
            ul.list-style-none
              li ACH to USA Banks
              li SEPA to Euro Banks
              li Bitcoin
            
           
          
      .column.medium-8.medium-offset-2.large-4.large-offset-0.bg-white.border-gray.text-center.margin-bottom.fade-in-right.delay-4
        .icon.h2.background-contain.margin-less(style="background-image: url('/images/business_icon.svg'); height: 2.5em;")
        h3.light Business
        p.text-center 1% Settlement Fee
        
          
        .row
          p.border-top-gray.padding-vertical-less.margin-none 
            | Unlimited Transactions
          p.border-top-gray.padding-vertical-less.margin-none.bold Login Access
          p Multi-User Organization
          p.border-top-gray.padding-vertical-less.margin-none.bold Core Features
          ul.list-style-none
            li Guaranteed Conversion Rate
            li Customer Support Portal
            li Email Billing
            li Hosted Checkout
            li API Access
            li CSV Ledger Download
            li All Open Source Plugins
            li All Open Source Libraries
            li Mobile Checkout App
          p.border-top-grey.border-top-gray.padding-vertical-less.margin-none.bold Premium Features
          ul.list-style-none
            li Demandware Cartridge
            //li Ingenico App
            li Quickbooks IIF Download
            //li Quickbooks Connector App
            //li Xero App
            
          p.border-top-gray.padding-vertical-less.margin-none.bold Customer Support
          p Email Support
          p.border-top-gray.padding-vertical-less.margin-none.bold Settlement Options
          ul.list-style-none
            li ACH to USA Banks
            li SEPA to Euro Banks
            li Bitcoin
            li EFT to Canada Banks
            li SPEI to Mexico Banks
          p.border-top-gray.padding-vertical-less.margin-none.bold Premium Settlement Options
            ul.list-style-none
             li Bank transfer to UK, Brazil, South Africa, Australia, New Zealand
      .column.medium-8.medium-offset-2.large-4.large-offset-0.bg-white.border-gray.text-center.end.fade-in-right.delay-6
        .icon.h2.background-contain.margin-less(style="background-image: url('/images/enterprise_icon.svg'); height: 2.5em;")
        h3.light Enterprise
        p.text-center 
          a(href="mailto:sales@bitpay.com") Request Info
          
        .row
          p.border-top-gray.padding-vertical-less.margin-none 
            | Unlimited Transactions
            p.border-top-gray.padding-vertical-less.margin-none.bold Login Access
            p Multi-User Organization
            p.border-top-gray.padding-vertical-less.margin-none.bold Core Features
            ul.list-style-none
              li Guaranteed Conversion Rate
              li Customer Support Portal
              li Email Billing
              li Hosted Checkout
              li API Access
              li CSV Ledger Download
              li All Open Source Plugins
              li All Open Source Libraries
              li Mobile Checkout App
            p.border-top-grey.border-top-gray.padding-vertical-less.margin-none.bold Premium Features
            ul.list-style-none
              li Quickbooks IIF Download
              //li Ingenico App
              li Quickbooks IIF Download
              //li Quickbooks Connector App
              //li Xero App
              
            p.border-top-gray.padding-vertical-less.margin-none.bold Customer Support
            ul.list-style-none
              li Priority Email Support
              li Priority Phone Support
              li Integration Assistance
              li Account Manager
              li Optional Weekend Phone Support
              li Optional 24/7 Phone Support
            p.border-top-gray.padding-vertical-less.margin-none.bold Settlement Options
              ul.list-style-none
                li ACH to USA Banks
                li SEPA to Euro Banks
                li Bitcoin
                li EFT to Canada Banks
                li SPEI to Mexico Banks
            p.border-top-gray.padding-vertical-less.margin-none.bold Premium Settlement Options
              ul.list-style-none
               li Bank transfer to any permissible country

  .section
    .row
      .column
        h2.text-center.header__bottom-border Frequently Asked Questions
      .column.medium-10.medium-offset-1.large-5.large-offset-1
        .margin-bottom
          h5 What exchange rate do my customers get?
          p BitPay always offers the best exchange rate on the market. We pool the order books of all active bitcoin exchanges, and find the best bid worldwide. We call this the <a href="/bitcoin-exchange-rates">Bitcoin Best Bid (BBB) rate</a>, and it is our only rate.
        
        div
          h5 Can I get part of my settlement in bitcoin?
          p Many of our merchants choose to take a percentage — or even 100% — of their BitPay settlement in bitcoin. You can choose your settlement preferences from your account dashboard. We settle bitcoin to your bitcoin address daily.
          
      .column.medium-10.medium-offset-1.large-5.large-offset-0.end
        .margin-bottom
          h5 Do you charge a conversion fee?
          p Our Starter plan offers free, instant conversions for up to 30 transactions a month and daily settlements in three currencies. The Professional plan offers unlimited monthly transactions for a 1% settlement fee and daily settlements in nine currencies. BitPay guarantees the bitcoin-to-fiat exchange rate at the point of sale, so our customers are protected from bitcoin price fluctuations.
        div
          h5 Can you process payments for regulated businesses?
          p We are able to process payments for most businesses, but legal and regulatory issues prevent us from servicing <a href="/legal#prohibited">some industries</a>. We'd like to provide all legitimate businesses the opportunity to accept bitcoin, and we are constantly working to make that a possibility.
      .column.medium-10.medium-offset-1.large-5.large-offset-1
      .column.medium-10.medium-offset-1.large-5.large-offset-0.end

  .section.bg-lightblue-gradient.border-top-gray
    .row
      .column.large-10.large-offset-1.text-center
          h3.white Get access to the BitPay platform.
          .margin-top-less
            a(href="/dashboard/signup").white.btn.btn-blue-solid.uppercase.bold.btn-margin.arrow Accept Bitcoin
