extends _layouts/primary

block title
  title Pricing | BitPay
  
append vars  
  -var pageSelected = 'Pricing'

block content
  .section.border-bottom-gray.border-top-gray(style="background:url('/images/node_background.jpg'); background-size:cover;")
    .row.fade-in
      .column.text-center.margin-bottom
        h1.text-center Join the world’s most trusted 
          span(style="display:block;") Bitcoin payment platform. 
        p.lead.text-center Simply priced plans for businesses and enterprises.
        button.btn.radius.orange-bg.border-none(style="font-size:1.2em; padding:15px 30px; margin-bottom:50px;") Get Started Free
    .row.margin-top-less
      
      .pricing
        .large-6.column.fade-in-right.delay-2.min-padding(style="position:relative;right:-1px;")
          .pricing-table.large-12.column.radius.large-offset-0.bg-white.margin-bottom
            .row.blue-pale-bg(style="padding:40px 0 25px;")
              h2.white.text-center.light(style="letter-spacing:1px;") STARTER
            .row(style="margin:30px 0;")
              .column.large-12.xlarge-4.padding-none
                h2.text-center.blue-medium(style="font-size:3em;") Free
              .column.xlarge-8.large-12.pricing-column
                  div
                    b 30 Transactions / Month
                    br
                    small 1% Service Fee For Each Additional Transaction
                  br
                  ul.list-style-none.margin-none
                    li Core Features
                    li Single User Login Access
                    li Email Support
                    li Daily Bitcoin Settlements
                    li Weekly Bank Settlements
        .large-6.column.fade-in-right.delay-3.min-padding(style="position:relative;right:-1px;")
          .pricing-table.large-12.column.radius.large-offset-0.bg-white.margin-bottom
            .row(style="background-color:#204096; padding:40px 0 25px;")
              h2.white.text-center.light(style="letter-spacing:1px;") BUSINESS
            .row(style="margin:30px 0;")
              .column.large-12.xlarge-4.padding-none
                h2.text-center.blue-medium(style="font-size:4em; line-height: 0.8;") 1%
                small.text-center(style="display:block;") Settlement fee
              .column.xlarge-8.large-12.pricing-column
                  div
                    b Unlimited Transactions
                  br
                  ul.list-style-none.margin-none
                    li Core Features
                    li Single User Login Access
                    li Email Support
                    li Daily Bitcoin Settlements
                    li Weekly Bank Settlements
                    br
                    br
                    li Premium settlement options
                    li Premium Intergrations 
    .row                
      p.text-center 
        b Want even more? 
        | Try our 
        a Enterprise 
        | version    
          
        
               
      
  .section.gray.border-bottom-gray.bg-gray
    h2.text-center.header--bottom-border Features
    .row
      .column.large-8.small-11.small-centered.large-centered.pricing-features
        .row  
          .column.large-5.bg-white
            div
              h4 Standard Features
              br
              ul.list-style-none.margin-none
                li Guaranteed Conversion Rate
                li Customer Support Portal
                li Email Billing
                li Hosted Checkout
                li API Access
                li CSV Ledger Download
                li All Open Source Plugins
                li All Open Source Libraries
                li Mobile Checkout App
                br
                li.bold Settlement Options
                li Bitcoin
                li ACH to USA Banks
                li SEPA to Euro Banks

 
          .column.large-7.blue-medium-bg.border-box.end.pricing-table.radius
            div.white.row
              h4.white Premium Features
              br
              
              ul.list-style-none.margin-none
                li Business plan includes all standard features plus:
                br
                li.bold Integrations
                li Demandware Cartridge
                li Quickbooks IIF Download
                br
                li.bold Settlement Options
                li SPEI to Mexico Banks
                li EFT to Canada Banks
                br
                li Bank transfer to:
                li UK, Brazil, South Africa, Australia, New Zealand
  .section
    .row
      .column.medium-10.medium-offset-1.large-5.large-offset-1
        .margin-bottom
          h5 Guaranteed Instant Conversion Rate
          p Buyers will always get a better value by spending their bitcoins at a BitPay merchant than by selling them on an exchange. We pool the order books of active bitcoin exchanges, and find the best bid worldwide. We call this the Bitcoin Best Bid (BBB) rate. BitPay guarantees the bitcoin-to-fiat <a href="https://bitpay.com/bitcoin-exchange-rates">exchange rate</a> at the point of sale, so our merchants are protected from bitcoin price fluctuations.
        div
          h5 Get Paid In Bitcoin
          p Many of our merchants choose to take a percentage of their BitPay settlement in bitcoin, or even 100%. You can choose your settlement preferences from your account dashboard. We settle bitcoin to your bitcoin address daily.
          
      .column.medium-10.medium-offset-1.large-5.large-offset-0.end
        .margin-bottom
          h5 Simple Pricing for all Plans
          p Our Starter plan offers free, instant conversions for up to 30 transactions a month, weekly settlements in two currencies, and daily settlements  in bitcoin. The Business Plan offers daily settlements in nine currencies and unlimited monthly transactions for a 1% settlement fee.
        div
          h5 Can you process payments for regulated industries?
          p We are able to process payments for most businesses, but sometimes legal and regulatory concerns prevent us from servicing some industries. We'd like to provide all legal businesses the opportunity to accept bitcoin, and we are constantly working to make that a possibility.
      .column.medium-10.medium-offset-1.large-5.large-offset-1
      .column.medium-10.medium-offset-1.large-5.large-offset-0.end

  .section.bg-lightblue-gradient.border-top-gray
    .row
      .column.large-10.large-offset-1.text-center
          h3.white Get access to the BitPay platform.
          .margin-top-less
            a(href="/dashboard/signup").white.btn.btn-blue-solid.uppercase.bold.btn-margin.arrow Accept Bitcoin
